* {
  font-family: 'Roboto', sans-serif;
}
header{
  background-color: black;
  min-height: 50px;
  color: white;
  text-align: center;
  font-weight: 600;
  padding: 20px;
  font-size: large;
}

body {
  background-color: yellow;
}

main{
  max-width: 960px;
  margin: 0 auto;
  min-height: calc(100vh - 160px);
  text-align: center;
}

button[type=submit] {
  background-color: black;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}

button[type=submit]:hover {
  background-color: gray;
}

input[type=text] {
  padding: 10px;
  border-radius: 2px;
}

label {
  font-family: sans-serif;
  padding: 10px;
}

.form-element {
  padding: 10px;
}


.list-item {
  background-color: grey;
  color: white;
  margin: 15px;
  min-height: 40px;
  padding: 10px;
  box-shadow: 2px 2px #e1d5d5;
  border-radius: 3px;
}

.list-item:hover {
  background-color: #dad7d7;
  color: black;  
}
.list-edit-button {
  width: 20px;
  padding: 10px;
  cursor: pointer;
}

.task-item-title{
  width: 80%;
  cursor: pointer;
}

.list-main {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
}
.list-item-task {
  background-color: darkgrey;
  color: black;
  padding: 10px;
  display: none;
}

.to-do-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 540px;
  margin: 0 auto;
}

footer{
  background-color: black;
  color: white;
  min-height: 30px;
  padding: 20px;
  text-align: center;
}

.done {
  text-decoration: line-through;
}

.show {
  display: block;
}
.done {
  text-decoration: line-through;
}